include /_mixin
extends /_layout

block append style
  link(rel='stylesheet', href='/hotate/css/hotate.css', media="screen, projection" type="text/css")
  link(rel='stylesheet', href='http://s.mlcdn.co/animate.css', media="screen, projection" type="text/css")

block title
  title= sitetitle

block append meta
  +meta_facebook(url=siteurl_home, title=sitetitle, description=sitetitle)

block header
  header
    p 2016年7月ホタテ会議@川井キャンプ場
    
block body

  //ヘッドタイトル
  section.section_sitetitle
    .block_cont
      .sitetitle_visual
        img(src='img/main.jpg')
        
        h1=sitetitle
      .sitetitle_des
        p
          |時は西暦2016年ッ
          br
          |我々人類とホタテは、なんとか仲良くしようと思っていたッ
          br
          |そこで人類代表の我々は、ホタテとの友好関係を築くべく奥多摩にて秘密の会合を開くことになったのだッ
        p
          |これが
          b ホタテ会議
          |であるッ

      .tatematsu
        .tatematsu_img.tatematsu_img-anime タテマツ
        .tatematsu_com なーるほドック
        .tatematsu_name 自走式ほったて小屋 タテマツ
        

  //情報
  section.section_info(v-cloak)
    .block_cont
      //- infoblock
      .infoblock
        .infoblock_title
          |場所　川井キャンプ場
          a.btnlink(href='http://www.okutamas.co.jp/kawai/access.htm', target='_blank')
            |公式サイト
        .infoblock_cont
          p ・車は以下の二台、ほかみんな電車だと思う
          p ・やなせ、セカンドカー、ツマコンブカー車
          
      //- infoblock
      .infoblock
        .infoblock_title 集合時間　朝の１０時、現地集合！

        .infoblock_cont
          p ・早い方が楽しいヨ

      //- infoblock
      .infoblock
        .infoblock_title メンバー　{{memberlist.length}}名
        .infoblock_cont
          p ・精鋭ぞろいである
          p
            |・テントなし（五人用バンガロー）
            br
            span(v-for='item in notentlist') 
             |{{item.name}}、
            
          p ・ほかの人はフリーテントサイトでテント泊
          p ・テントがない隊員は事前に相談すること。当日に騒いだ場合射殺の可能性あり

          ul.member
            li(v-for='item in memberlist')
              span.person {{item.name}}
            
            
      //- infoblock
      .infoblock
        .infoblock_title 予算
        .infoblock_cont
          p ・食材一人{{mealcost}}円とする（目安）
          p ・アルコール一人{{alcoholcost}}円とする（目安）
          p ・テント泊　800円
          p ・コテージ泊　10500円（一人2100円）
          p ・雑費（鉄板とか借りるかもしれない）
          p ・上記よりキャンプ予算の予測
          .camptotalcost
            |テント泊の人
            span {{mealcost + alcoholcost + 800}}円
            |&ensp;＋ 雑費
          .camptotalcost
            |コテージ泊の人
            span {{mealcost + alcoholcost + 2100}}円
            |&ensp;＋ 雑費

      //- infoblock
      .infoblock
        .infoblock_title 食材について
        .infoblock_cont
          p ・予算一人{{mealcost}}円×{{memberlist.length}}人で合計{{memberlist.length * mealcost}}円
          p
            ・海鮮コース（一人1700円）を五人分（合計8500円）
            span.person せかいのが予約します
          
          p
            ・焼きバード、その他肉、野菜を{{memberlist.length * mealcost - 8500}}円で調達
            span.person ツマキチ
          p
            ・包丁、まな板、フライパン、などの調理器具は車でもってこれる？
            span.person 平沼家（ある程度）

       //- infoblock
      .infoblock
        .infoblock_title アルコールについて
        .infoblock_cont
          p ・予算一人{{alcoholcost}}円×{{memberlist.length}}人で合計{{memberlist.length * alcoholcost}}円
          p
            |・ビール {{beer}}円で調達
            span.person.person-red 担当不明

          p
            |・モヒート、ウィスキー {{memberlist.length * alcoholcost - beer}}円で調達
            span.person.person-red 担当不明
          

      //- infoblock
      .infoblock
        .infoblock_title アクティビティ（有志）
        .infoblock_cont
          p
            a.btnlink(href='http://www.sawanoi-sake.com/service/kengaku', target='_blank')
              |小澤酒造 酒造見学
            br
            |（13時、14時、15時）
          p
            a.btnlink(href='http://www.okutamas.co.jp/moegi/', target='_blank')
              |もえぎの湯
            br
            |９：３０～２１：３０ （受付終了２０：３０）
          p 
            a.btnlink(href='http://jinrodou.com/', target='_blank')
              |ホタロウ（人狼）
            br
            |会議は決裂ッ、ホタテと人類との生存競争が幕を開けた！
          p
            a.btnlink(href='https://ja.wikipedia.org/wiki/%E3%82%A6%E3%82%A4%E3%83%B3%E3%82%AF%E3%82%AD%E3%83%A9%E3%83%BC', target='_blank')
              |ウィンクキラー

      
      
      //- infoblock
      .hotarou
        .hotarou_title
          |当初なごやかなムードで進行していたホタテ会議だったが、人類代表がアズマニシキとホタテガイを間違ってしまいホタテ側が激昂、一方的に会を中断し会議は決裂。直後にホタテ側より宣戦布告がなされた。
          br
          |ホタテ陣営いわく、すでに暗殺部隊を派遣したという…！
          br
          |なんというタイトな対応！
          br
          |人類とホタテとの仁義なき戦いがはじまったッ
        .hotarou_cont

          .tatematsu
            .tatematsu_img タテマツ
            .tatematsu_com こら大変だあ！
            .tatematsu_name 自走式ほったて小屋 タテマツ

      //- infoblock
      .infoblock
        .infoblock_title ホタロウ（人狼）
        .infoblock_cont
          p ・オラたちの中に人の姿をしたホタテが紛れ込んだッ
          p ・そのホタテ「ホタロウ」は夜になると我々の誰か1人をバターで焼いた挙句、醤油を少したらして食い殺してしまうのだ！
          p ・よくルール知らないけどそんな具合のストーリーだッ
          p ・ホタテどもに勝って、蹂躙したい

      //- infoblock
      .infoblock
        .infoblock_title それでは当日あいましょう
        .infoblock_cont
          p
            |・我々は
            b.bigred ブレない心
            |で人類が生き延びることを願うのみである
      //- infoblock
      .infoblock
        .infoblock_title 雨天の場合
        .infoblock_cont
          p ・そばでも食って帰ろう

      .chunum
        .chunum_img チューナム
        .chunum_com ホタテの中身にある黒いやつ（ウロ）は貝毒が集中するから食わんほうがええナムよ
         

block foot
  include /_footer

block append other


block append script
  script(src="/hotate/js/hotate.min.js")
  