

//- Open Graph
mixin meta_facebook()
  // Open Graph
  meta(property='og:title', content=attributes.title)
  meta(property='og:type', content='website')
  meta(property='og:description', content=attributes.description)
  meta(property='og:site_name', content=sitetitle)
  meta(property='og:url', content=attributes.url)
  meta(property='og:locale', content='ja_JP')
  meta(property='og:image', content=og_img)
  // /Open Graph